<div class="c-nav-container">
  <app-nav-link-button routerLink="view-transactions"
    >View All Transactions</app-nav-link-button
  >
  <app-nav-link-button routerLink="view-transactions-by-accountNo" 
  >View Transactions By Account no</app-nav-link-button
  >
  <app-nav-link-button routerLink="transactions/deposit-amt"
    >Deposit Amount</app-nav-link-button
  >
  <app-nav-link-button routerLink="transactions/withdraw-amt"
    >Withdraw Amount</app-nav-link-button
  >
</div>
<router-outlet></router-outlet>
