
<div class="col-md-6 offset-md-3 mt-5">
    <div class="alert alert-info">
        Username: admin&#64;gmail.com<br />
        Password: admin&#64;123
    </div>
    <div class="card">
        <h4 class="card-header">HP Bank of India - Admin Login</h4>
        <div class="card-body">
            <form
            [formGroup]="loginForm"
            (ngSubmit)="loginFormHandler()"
            >
                <div class="mb-3">
                    <label class="form-label" for="username">Username: </label>
                    <input type="text" class="form-control" id="username" placeholder="Enter username" formControlName ="username"/>
                    <small class="text-danger" *ngIf="loginForm.controls['username'].invalid && loginForm.controls['username'].touched">
                      <span *ngIf="loginForm.controls['username'].errors?.['required']">
                          This is required.
                      </span>
                    </small>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="password">Password: </label>
                    <input type="password" class="form-control" id="password" placeholder="Enter password" formControlName ="password"/>
                    <small class="text-danger" *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched">
                      <span *ngIf="loginForm.controls['password'].errors?.['required']">
                          This is required.
                      </span>
                    </small>
                </div>
                
                <app-my-button btnType="submit" extraClasses="actionBtn" [disabled]="isLoading">
                    Login
                    <app-small-spinner *ngIf="isLoading"></app-small-spinner>
                </app-my-button>
            </form>
        </div>
    </div>
</div>